/* Font Definitions */
@font-face {
  font-family: "darumadropone";
  src: url("../Fonts/DarumadropOne-Regular.ttf");
}

@font-face {
  font-family: "quicksand";
  src: url("../Fonts/Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: "yellowtail";
  src: url("../Fonts/Yellowtail-Regular.ttf");
}

@font-face {
  font-family: "lato";
  src: url("../Fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "exo";
  src: url("../Fonts/Exo-VariableFont_wght.ttf");
}

/* Root Variables */
:root {
  --blue: #242d3f99;
  --shadow: #160e0e80;
  --text: var(--text);
}

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: black;
}

header {
  color: #fff;
  text-align: center;
  width: 100%;
  position: absolute;
}

/* Background Image */
.bgimage {
  background-image: url(../Images/parallax.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0.6;
  z-index: -3;
}

/* Headings */
h1, h2, h3, h4 {
  font-family: exo, sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

p {
  font-family: quicksand, sans-serif;
}

/* Navigation */
nav {
  z-index: 2;
  position: sticky;
  width: 100%;
  font-family: exo, sans-serif;
}

nav ul {
  padding: 0;
  font-size: 1.3em;
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

/* Styling for Scrolled Navigation */
.alt {
  position: fixed;
  top: 0;
  background-color: var(--blue);
}

/* Main Content */
main {
  width: 100%;
  position: relative;
  margin-top: 35vh;
  display: grid;
  align-content: space-around;
  gap: 11vh;
}

/* General Section Styles */
section {
  background-color: var(--blue);
  box-shadow: 5px 8px 20px 20px var(--shadow);
  height: max-content;
}

/* Sub Pages Layout */
#about, #wip {
  display: table;
  width: 100%;
  border-spacing: 15vw 5vh;
  table-layout: fixed;
}

#about h2, #wip h2 {
  display: table-header-group;
  line-height: 2.5em;
}

#about p, #wip p {
  line-height: 2em;
  display: table-cell;
  vertical-align: top;
  font-size: 1.5em;
}

/* Font Awesome Icons */
.fa-solid, .fa-regular {
  font-weight: 900;
  margin-right: 1em;
}
.fa-discord:before, .fa-github:before, .fa-envelope:before {
  width: 4vw;
}

/* Portrait Image */
.portrait {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  display: table-cell;
  border: thin solid white;
  box-shadow: 5px 8px 20px 20px var(--shadow);
  margin-right: 1em;
}

#pluto {
  object-fit: none;
  object-position: 38% 43%;
}

#favcolor {
  color: rgb(80, 173, 227);
}

.row {
  display: table-row;
  margin-top: 1em;
}

/* Home Page Styles */
#quote {
  margin-bottom: 0;
}

#quote + p span {
  font-size: larger;
  color: #bffcff;
  font-style: italic;
}

/* Image Wheel Styles */
.wheelcontainer {
  height: 95vh;
  width: 100%;
}

.wheel {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
}

img.wheel {
  transform: translate(-49%, -74%);
  border-radius: 50%;
  width: 180px;
  height: 180px;
  object-fit: cover;
  transition-duration: 0.4s;
  box-shadow: 5px 8px 20px 20px transparent;
}

.card {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  transition-duration: 0.4s;
  box-shadow: 5px 8px 20px 20px transparent;
}

/* Hover Styles for Cards and Image Wheel */
.card:hover, img.wheel:hover {
  box-shadow: 5px 8px 20px 20px var(--shadow);
  transition-duration: 0.4s;
}

/* Work in Progress Section */
#wip {
  margin-bottom: 3vh;
}

/* Footer Styles */
footer {
  background-color: #242d3f;
  position: relative;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
}

.footer-content {
  padding-right: 30%;
}

footer div {
  flex-direction: column;
  display: flex;
  align-self: flex-end;
  flex-wrap: wrap;
  padding: 1% 0;
  font-family: 'exo', sans-serif;
}

footer a {
  font-size: 2em;
  color: white;
  display: flex;
  padding-bottom: 3%;
  text-decoration: none;
}

footer span {
  font-family: exo, sans-serif;
  font-size: 0.5em;
  font-weight: normal;
  padding-left: 1em;
}

footer .fa-solid, footer .fa-brands {
  display: flex;
}
